<div id="ajax-page" class="ajax-page-content" unselectable="on" onselectstart="return false;">
  <div class="ajax-page-wrapper">
    <div class="ajax-page-nav">
      <div class="nav-item ajax-page-prev-next">
        <a class="ajax-page-load" href="jowo-2048.html"><i class="lnr lnr-chevron-left"></i></a>
        <a class="ajax-page-load" href="jowo-sudoku.html"><i class="lnr lnr-chevron-right"></i></a>
      </div>
      <div class="nav-item ajax-page-close-button">
        <a id="ajax-page-close-button" href="#"><i class="lnr lnr-cross"></i></a>
      </div>
    </div>

    <div class="ajax-page-title">
      <h1>Jowo Money Management</h1>
    </div>

    <div class="row">
      <div class="col-sm-8 col-md-8 project-block">
        <div class="owl-carousel project-page-carousel">
          <div class="item">
            <img src="images/projects/jowo-money-management/jowo-money-management-1.jpg" alt="jowo-money-management-1" />
          </div>
          <div class="item">
            <img src="images/projects/jowo-money-management/jowo-money-management-2.jpg" alt="jowo-money-management-2" />
          </div>
          <div class="item">
            <img src="images/projects/jowo-money-management/jowo-money-management-3.jpg" alt="jowo-money-management-3" />
          </div>
          <div class="item">
            <img src="images/projects/jowo-money-management/jowo-money-management-4.jpg" alt="jowo-money-management-4" />
          </div>
          <div class="item">
            <img src="images/projects/jowo-money-management/jowo-money-management-5.jpg" alt="jowo-money-management-5" />
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-md-4 project-block">
        <!-- Project Description -->
        <div class="project-description">
          <div class="block-title">
            <h3>Description</h3>
          </div>
          <ul class="project-general-info">
            <li>
              <p><i class="fa fa-user"></i>Truong Do Quang (JoWo)</p>
            </li>
            <li>
              <p><i class="fa fa-globe"></i> <a href="https://quangtruong94.bitbucket.io/jowo" target="_blank">quangtruong94.bitbucket.io/jowo</a></p>
            </li>
          </ul>

          <p class="text-justify">A very simple managing money application.</p>
          <!-- /Project Description -->

          <!-- Technology -->
          <div class="tags-block">
            <div class="block-title">
              <h3>Technology</h3>
            </div>
            <ul class="tags">
              <li><a>React Native + Expo</a></li>
              <li><a>Redux</a></li>
              <li><a>SQLite</a></li>
            </ul>
          </div>
          <!-- /Technology -->

          <!-- Share Buttons -->
          <!-- <div class="btn-group share-buttons">
            <div class="block-title">
              <h3>Share</h3>
            </div>
            <a href="#" target="_blank" class="btn"><i class="fab fa-facebook-f"></i> </a>
            <a href="#" target="_blank" class="btn"><i class="fab fa-twitter"></i> </a>
            <a href="#" target="_blank" class="btn"><i class="fab fa-dribbble"></i> </a>
          </div> -->
          <!-- /Share Buttons -->
        </div>
        <!-- Project Description -->

        <div class="project-page-video embed-responsive embed-responsive-1by1">
          <video class="embed-responsive-item" src="images/projects/jowo-money-management/jowo-money-management-video.mp4" controls></video>
        </div>

        <script type="text/javascript">
          jQuery(document).ready(function ($) {
            $('.project-page-carousel').imagesLoaded(function () {
              $('.project-page-carousel').owlCarousel({
                smartSpeed: 500,
                items: 2,
                loop: true,
                dots: true,
                nav: true,
                navText: true,
                dotsEach: true,
                margin: 10,
                stagePadding: 50,
                autoHeight: false,
              });
            });
          });
        </script>
      </div>
    </div>
  </div>
</div>
